Source: libsha1
Section: core
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>= 7), automake, libtool
XCS-Cross-Host-Build-Depends: debhelper (>= 7), automake, libtool
Priority: optional
Standards-Version: 3.8.0

Package: libsha1-0
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}
Description: SHA1 library
 SHA1 message digest algorithm library.

Package: libsha1-dev
Section: libdevel
Priority: optional
Architecture: any
Depends: libsha1-0 (= ${binary:Version})
Description: SHA1 library
 SHA1 message digest algorithm library.
 .
 This package contains development files required to link with the library.
